* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: black;
    color: white;

}

.leftheader {
    background-color: green;
    padding: 10px;
    width: 150px;
    text-align: center;
}

.rightheader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    a {
        padding: 10px;
        color: white;
        width: 100px;
        text-decoration: none;
    }

    a:hover {
        background-color: green;
        color: black;
        text-decoration: none;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.leftcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 66%;

    div {
        border: 5px solid black;
        margin: 10px;
        // remove flex-grow for challenge 2, set height to 33% and align items to center
        flex-grow: 1;
        // height: 33%;
        // align-items: center;

        h1 {
            // padding: 10px;
            margin: 10px;
        }
        ul {
            margin-left: 40px;
            padding: 10px;
        }
        ul li {
            padding: 10px;
            font-weight: bold;
        }
    }
}

.rightcontainer {
    display: flex;
    
    width: 33%;

    div {
        border: 5px solid black;
        margin: 10px;
        flex-shrink: 1;

        h1,p {
            margin: 10px;
        }
    }
}

.blackbox {
    background-color: black;
    color: white;
    height: 50px;
    width: 50px;
}